<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="MENU">
<item label="kolmafia"><action name="Execute"><command>java -jar /etc/kolmafia/kolmafia.jar</command></action></item>
<item label="browser"><action name="Execute"><command>/usr/bin/chromium</command></action></item>
<item label="xterm"><action name="Execute"><command>/usr/bin/xterm</command></action></item>
</menu>
</openbox_menu>